@use crate::post::Post;
@use super::{header_html, footer_html};

@(posts: Vec<Post>)

@:header_html(Some("Blog"), None)

<h1>Blogposts</h1>

<p>If you have a compatible reader, be sure to check out my <a href="/blog.rss">RSS Feed</a> for automatic updates. Also check out the <a href="/blog.json">JSONFeed</a>.</p>

<p>For a breakdown by post series, see <a href="/blog/series">here</a>.</p>

<p>
    <ul>
        @for post in posts {
            <li>@post.date.format("%Y-%m-%d") - <a href="/@post.link">@post.front_matter.title</a></li>
        }
    </ul>
</p>

<br />

<h2>Other Blogs I Find Interesting</h2>

<ul>
    <li><a href="https://write.as/excerpts/">Excerpts</a></li>
    <li><a href="https://heartmender.writeas.com/">Heartmender</a></li>
    <li><a href="https://celestialboon.github.io/">CelestialBoon</a></li>
    <li><a href="https://slatestarcodex.com/">Star Slate Codex</a></li>
    <li><a href="https://shamanic.vision/">Shamanic Vision</a></li>
</ul>

<h2>Selected Commentary on These Blogposts</h2>

<h3><a href="/blog/first">First post</a></h3>

<p>
    <blockquote>
        The comments I am reading in response to the words on the website miss the point completely. It is clear from the words on the web page on the link that the point is different than what people here are saying it is. Did you even read those words on the internet web page, accessed from the link, downloaded and subsequently rendered by your browser of choice?
    </blockquote>
</p>

<h3><a href="https://fetsorn.website/blog/second">Second post <code>code</code>, new post</a> </h3>

<p>
    <blockquote>
        Thank you very much for this series.
    </blockquote>
</p>

@:footer_html()
