@use super::{header_html, footer_html};

@()

@:header_html(Some("Contact"), None)

<h1>Contact Information</h1>
<div class="grid">
  <div class="cell -6of12">
    <h3>Email</h3>
    <p>fetsorn@@gmail.com</p>

    <h3>Social Media</h3>
    <ul>
      <li><a href="https://github.com/fetsorn">Github</a></li>
      <li><a href="https://twitter.com/fetsorn">Twitter</a></li>
      <li><a href="https://keybase.io/fetsorn">Keybase</a></li>
      <li><a href="https://ko-fi.com/fetsorn">Ko-fi</a></li>
      <li><a href="https://www.patreon.com/fetsorn">Patreon</a></li>
      <li><a href="https://www.facebook.com/fetsorn">Facebook</a></li>
    </ul>
  </div>
  <div class="cell -6of12">
    <h3>Other Information</h3>
    <p>I have a <a href="https://www.patreon.com/fetsorn">Patreon</a> if you want to send donations, otherwise my <a href="https://ko-fi.com/fetsorn">Ko-Fi</a> works too.</p>

    <h4>Telegram</h4>
    <p><a href="https://t.me/fetsorn">@@fetsorn</a></p>

    <h4>Discord</h4>
    <p><code>fetsorn~#0000</code></p>
  </div>
</div>

@:footer_html()
