@use super::{header_html, footer_html};

@()

@:header_html(None, None)

<link rel="authorization_endpoint" href="https://idp.fetsorn.website/auth">
<link rel="canonical" href="https://fetsorn.website/">
<meta name="google-site-verification" content="rzs9eBEquMYr9Phrg0Xm0mIwFjDBcbdgJ3jF6Disy-k" />
<script type="application/ld+json">
 @{
     "@@context": "http://schema.org/",
     "@@type": "Person",
     "name": "Anton Davydov",
     "alternateName": "fetsorn",
     "url": "https://fetsorn.website",
     "image": "https://fetsorn.website/static/img/avatar_large.png",
     "sameAs": [
         "https://github.com/fetsorn",
         "https://gitea.fetsorn.website/fetsorn",
         "https://twitter.com/fetsorn",
         "https://www.linkedin.com/in/fetsorn",
         "https://www.youtube.com/user/fetsorn"
     ]
 @}
</script>

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@@fetsorn" />
<meta name="twitter:title" content="Anton Davydov" />
<meta name="twitter:description" content="Full-stack Engineer" />

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Anton Davydov" />
<meta property="og:site_name" content="Full-stack Engineer" />

<!-- Description -->
<meta name="description" content="Full-stack Engineer" />
<meta name="author" content="Anton Davydov">

<div class="grid">
    <div class="cell -3of12 content">
        <img src="/static/img/avatar.png" alt="My Avatar">
        <br />
        <a href="/contact" class="justify-content-center">Contact Me</a>
    </div>
    <div class="cell -9of12 content">
        <h1>Davydov Anton</h1>
        <h4>Full-stack Engineer</h4>
        <h5>Skills</h5>
        <ul>
            <li>Solidity, Typescript, Rust, Go, Haskell and other languages</li>
            <li>Docker (deployment, development & more)</li>
        </ul>

        <h5>Highlighted Projects</h5>
        <ul>
            <li><a href="https://first.fetsorn.website">1</a> - First project</li>
            <li><a href="https://github.com/fetsorn/second">2</a> - Second project</li>
            <li><a href="https://gitea.fetsorn.website/fetsorn/third">3</a> - Third project</li>
        </ul>

        <h5>Quick Links</h5>
        <ul>
            <li><a href="https://github.com/fetsorn" rel="me">GitHub</a></li>
            <li><a href="https://twitter.com/fetsorn" rel="me">Twitter</a></li>
            <li><a href="https://www.bandcamp.com/fetsorn" rel="me">Bandcamp</a></li>
            <li><a href="https://www.patreon.com/fetsorn" rel="me">Patreon</a></li>
        </ul>

        <p>Looking for someone for your team? Check <a href="/signalboost">here</a>.         
    </div>
</div>

@:footer_html()
